<%= render partial: "arena"%>

<h1> Turn 2</h1>

<%= "#{$second.species} is counter attacking." %> <br>
<%= "#{$first.species} defended #{$first.defence} damage" %> <br>
<%= "#{$first.species} took #{$second_damage} damage" %> <br>
<%= "#{$first.species}'s health dropped from #{$first.max_hp} to #{$first.current_hp}" %> <br>
    
<% if $first.faint? %> 
        <%= "#{$first.species} has fainted" %> <br>
        <div class=header><%= "#{$second.species} is the winner!!" %></div>
        <%= render partial: "gameover" %>
    <% else %>
     <%= "Continue" %>
    <% end %> 

